@import url(http://fonts.googleapis.com/css?family=Nosifer);

body{
    -webkit-perspective: 500px;
}

#scene {
    position: absolute;
    width: 700px;
    height: 500px;
    /* -webkit-transform: rotateX(-10deg) rotateY(20deg); */
    -webkit-transform-style: preserve-3d;
}

#v {
    position: absolute;
    width: 266px;
    height: 200px;
    -webkit-transform: translate3d(250px, 80px, -50px);
  
}

#floor {
    position: absolute;
    width: 266px;
    height: 200px;
    font: 30pt Nosifer; 
    -webkit-transform: translate3d(282px, 217px, 0px) rotateX(90deg);
}



@-webkit-keyframes anim{
    0%{
        -webkit-transform : rotateY(0deg);
    }
    100%{
        -webkit-transform : rotateY(360deg);
    }
    
}

#v:hover{
    -webkit-animation: anim 3s infinite;   
  
    
}